In [1]:
import pandas as pd
import numpy as np

In [2]:
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
%matplotlib inline

In [4]:
audi=pd.read_csv("FullyCleantAudi.csv")

In [6]:
audi.drop("Unnamed: 0",axis=1,inplace=True)

In [8]:
audi.head()

   year  price  mileage  tax   mpg  engineSize  FUEL  TRANSMISSION
0  2017  12500    15735  150  55.4         1.4     1             0
1  2016  16500    36203   20  64.2         2.0     0             2
2  2016  11000    29946   30  55.4         1.4     1             0
3  2017  16800    25952  145  67.3         2.0     0             2
4  2019  17300     1998  145  49.6         1.0     1             0

In [9]:
from sklearn.model_selection import train_test_split

In [10]:
X=audi.drop(['year','mileage','tax','mpg','engineSize','FUEL','TRANSMISSION'],axis=1)
y=audi['price']

In [11]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.35, random_state=42)

In [12]:
from sklearn.linear_model import Lasso

In [13]:
model=Lasso()

In [14]:
model.fit(X_train,y_train)

Lasso()

In [15]:
pred=model.predict(X_test)

In [16]:
from sklearn import metrics

In [23]:
print(metrics.mean_absolute_error(y_test,pred)) #test data set metrics for lasso model
print(metrics.mean_squared_error(y_test,pred))
print(np.sqrt(metrics.mean_squared_error(y_test,pred)))
print(metrics.r2_score(y_test,pred))

6.176996329638417e-05
7.187382108406314e-09
8.477842949952726e-05
1.0

In [21]:
predictions=model.predict(X_train)

In [22]:
print(metrics.mean_absolute_error(y_train,predictions)) #train data set metrics for lasso model
print(metrics.mean_squared_error(y_train,predictions))
print(np.sqrt(metrics.mean_squared_error(y_train,predictions)))
print(metrics.r2_score(y_train,predictions))

6.051768288957357e-05
7.26129378212584e-09
8.521322539445295e-05
1.0